<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Отзывы к фильмам</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5 display-1"><a href="{{ url_for('index') }}" class="text-decoration-none">Отзывы к фильмам</a></h1>
      <p class="lead">Пишите отзывы к фильмам!</p>
      <hr>
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer id="footer" class="bg-light text-center py-3">
      &copy; 2023 Movie Reviews. Все права защищены. Изображения на сайте взяты... Я не помню откуда они взяты. С уважением, Олег.
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>

</html>
