{% extends 'base.html' %}
{% block content %}
  <div class="row mb-3">
    <div class="col-md-4">
      {% if movie.image %}
        <img class="img-fluid" src="{{ url_for('static', filename='images/' + movie.image) }}">
      {% endif %}
    </div>
    <div class="col-md-8">
      <h1 class="mt-3 display-4">{{ movie.title }}</h1>
      {% if avg_score %}
        <p class="lead">Средняя оценка: {{ avg_score }}</p>
      {% endif %}
      <p>{{ movie.description }}</p>
    </div>
  </div>
  <h1 class="display-4">Отзывы</h1>
  <div class="m-1">
    {% for review in movie.reviews %}
      <div class="card mb-4">
        <div class="card-body">
          <p class="card-text">Автор: {{ review.name }} | Дата: {{ review.created_date.strftime('%d.%m.%Y') }}</p>
          <hr>
          <p class="card-text font-italic">{{ review.text }}</p>
          <p class="card-text font-italic">Оценка: {{ review.score }} из 10.</p>
        </div>
      </div>
    {% else %}
      <p>Отзывов еще нет, но вы можете оставить первый!</p>
    {% endfor %}
  </div>
  <h1 class="display-4">Оставить отзыв</h1>
  {% include 'add_review.html' %}
{% endblock content %}